@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>THE SITE IS UNDER CONSTRUCTION</h1>
    <br />
    <br />
    <h3>Placeholder for List of Competition Available for Participants...</h3>
    <br />
    <br />
    <h3><i>Spring Hackathon</i></h3>
    <a class="btn btn-info">Join</a>
    <br />
    <br />
    <br />
    <h3><i>Fall Hackathon</i></h3>
    <a class="btn btn-info">Join</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>Placeholder for The Competition Leaderboard</h3>
    <img src="~/css/images/PlaceholderLeaderBoard.png" />
</div>
