@model UNFHackathonManagementSystem.Models.IndexViewModel

<div class="text-center">
    <br />
    <br />
    <h3>Competition List</h3>
    <br /><br />
    
    <div class="backgorundWhite container">

        @foreach (var competition in Model.CompetitionItem)
        {
            <div class="row" id="competition-wrapper">
                <partial name="_ThumbnailAreaPartial" model="@Model.CompetitionItem.Where(u=>u.Name.Equals(competition.Name))" />
            </div>
        }
    </div> 





    <h3>Competition Leaderboard</h3>
    <img src="~/css/images/PlaceholderLeaderBoard.png" />
</div>
